{% extends 'pages/base.html' %}

{% block content %}
<h1>Editar Perfil</h1>
<form method="POST">
    {% csrf_token %}
    <label for="first_name">Nombre:</label>
    <input type="text" name="first_name" value="{{ user.first_name }}">
    
    <label for="last_name">Apellido:</label>
    <input type="text" name="last_name" value="{{ user.last_name }}">
    
    <label for="email">Email:</label>
    <input type="email" name="email" value="{{ user.email }}">

    <button type="submit">Guardar</button>
</form>
{% endblock %}